[Unit]
Description=Starts i3lock at suspend time
Before=sleep.target

[Service]
User=mark
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/mark/.config/i3/scripts/lock.sh

[Install]
WantedBy=sleep.target
