/* -----------------------------------------------------------------------------
* Base styles
* -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  color: #282828;
  background:  rgba(40,40,40,0.5);
  font-family: Hasklug Nerd Font;
  font-size: 11px;
}

/* Each module */
#battery,
#clock,
#tray,
#network,
#pulseaudio,


/* -----------------------------------------------------------------------------
* Module styles
* -------------------------------------------------------------------------- */

#battery {
  color: #d4be98;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: orange;
}

#battery.critical {
  color: red;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#clock {
  color: #d4be98;
  background: transparent;
}

#network.disconnected {
  color: orange;
}

#pulseaudio, #backlight, #battery, #network {
  color: #d4be98;
  background: transparent;
  padding-right: 10px;
  margin: 0;
}

#pulseaudio.muted {
  color: #928374;
}

#workspaces button {
  color: #928374;
  padding-right: 5px;
  background: transparent;
  border-bottom: 1px solid transparent;
}

#workspaces button.visible {
  color: #d4be98;
  background: transparent;
  border-bottom: 1px solid transparent;
}

#workspaces button.focused {
  background: transparent;
  border-bottom: 1px solid #d4be98;
}

#workspaces button.urgent {
  color: #ea6962;
  background: transparent;
  border-bottom: 1px solid #ea6962;
}
