configuration {
        modi: "combi,drun,run,window,ssh";
        font: "Source Code Pro 10";
        show-icons: true;
        icon-theme: "Papirus-Dark";
        combi-modi: "drun,run,window,ssh";
        scroll-method: 1;
        sidebar-mode: true;
        theme: "gruvbox-dark";
}
